@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-column {
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
}

@mixin flex-row {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
}

@mixin flex-center {
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
}

@mixin just-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: flex-start;
  align-self: flex-start;
}

@mixin shadow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.47);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.47);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.47);
}
