@media only screen and (max-width: 720px) {
    header#home {
        display: none;
    }
    header {
      top: 0;
      left: 0;
      text-align: left;
    }

    .base {
        @include flexbox @include flex-center @include just-center @include flex-row
    }

    a.base {
        padding: 0;
    }

    .study {
        width: 100%;
        @include flex-column
    }

    .rowwrap {@include flex-column
    }

    .study {
        @include flexbox @include flex-center @include just-center @include flex-column
        width: 100%;
        margin: auto;
        padding: 1.5em;
        p {
          margin-top: -1em;
          font-size: 0.8em;
        }

    }

    footer {
        p:first-child {
            letter-spacing: 0.3em;
            font-size: 0.8em;
            margin-bottom: -1em;
            text-transform: uppercase;
        }
        p:nth-child(2) {
          padding-top: 0.5em;
          font-size: 0.5em;
        }
    }

/* ============================
    PROTOTYPES
============================ */

.row {
  @include flex-column
  iframe {
    margin: 2em 0;
  }
}
}
