@import "variables";
@import "mixins";
@import "animate";

/*==============================================================================
                            DEFAULT / INITIAL STYLINGS
==============================================================================*/
*,
*:after,
*:before {
    @include border-box
}
// set flex styles

body {
    margin: 0;
    @include flexbox @include flex-center @include just-center @include flex-column font-family: $bodyfont;
    font-size: $bfontsize;
    min-height: 100vh;
    width: 100%;

    a:active,
    a:link,
    a:visited {
        text-decoration: none;
        color: $charcoal;
    }

    a:hover {
        text-decoration: underline;
    }
}

/*==============================================================================
                          HEADER STYLING - FIXED TO TOP DESKTOP
==============================================================================*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3em;
    text-align: right;

    ul li {
        list-style-type: none;
        display: inline;
        padding: 0 1em;
    }
}

/*==============================================================================
                              ARTICLE STYLES
==============================================================================*/

//gradients from https://webgradients.com/
article {
    &.container {
        @include flexbox @include flex-center @include just-center @include flex-row min-height: 100vh;
        width: 100%;
        @include shadow
    }

    &#about {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }

    &#case {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    &#contact {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }
}
/*==============================================================================
                              DOWN ARROW STYLING
==============================================================================*/
a.base {
    font-size: 2em;
    text-decoration: none;
    color: $charcoal;
    margin-top: auto;
    animation: arrowFade 1s infinite alternate;
    padding: 1em;
}

/*==============================================================================
                            ARTICLE CONTENT
==============================================================================*/

.card {
    width: 60%;
}

/*==============================================================================
                              CASE STUDY / PROJECT
==============================================================================*/

article#case .card {
  @include flexbox @include flex-center @include just-center @include flex-column
}

.rowwrap {
  @include flexbox@include flex-row
}

.study {
    @include flexbox @include flex-center  @include flex-column
    @include flex-start
    min-height: 15em;
    width: 25%;
    margin: auto;


}


/*==============================================================================
                              CONTACT
==============================================================================*/

#contact ul li {
  text-align: center;
  list-style-type: none;
  padding: 1em;
  a:link, a:active, a:visited {
    text-decoration: underline;
  }
  a:hover {
    color: darken($charcoal, 20%);
  }
}

/*==============================================================================
                              BUTTON GREEN ROUNDED GENERIC
==============================================================================*/

.button {
  background-color: #88B04B;background-image: -webkit-linear-gradient(top, #88B04B, #648236);
  background-image: -moz-linear-gradient(top, #88B04B, #648236);
  background-image: -ms-linear-gradient(top, #88B04B, #648236);
  background-image: -o-linear-gradient(top, #88B04B, #648236);
  background-image: linear-gradient(to bottom, #88B04B, #648236);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: $cream;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  margin-top: auto;
  text-align: center;
  border: 1px solid #648236;
}

.button:hover {
  background: $cream;
  border: 1px solid #648236;
  color: $charcoal;
}

/*==============================================================================
                            FOOTER STYLES
==============================================================================*/

footer {
    @include flexbox @include flex-center @include just-center @include flex-column width: 100%;
    color: $cream;
    background-image: linear-gradient(180deg, #1c1c1c 0%, #212121 100%);

    p:first-child {
        letter-spacing: 1em;
        text-transform: uppercase;
    }

    a:active,
    a:link,
    a:visited {
        color: $cream;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
@import "mobile";
@import "projects";
