@import url("https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:400,700");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container {
  min-height: 100vh; }
  .container:first-child {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }
  .container:nth-child(even) {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
  .container:nth-child(3) {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); }

footer {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply; }
