@import url("https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:400,700");
@keyframes arrowFade {
  from {
    opacity: .5; } }

/*==============================================================================
                            DEFAULT / INITIAL STYLINGS
==============================================================================*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  font-family: "Monsterrat", sans-serif;
  font-size: 20pt;
  min-height: 100vh;
  width: 100%; }
  body a:active,
  body a:link,
  body a:visited {
    text-decoration: none;
    color: #0d0d0d; }
  body a:hover {
    text-decoration: underline; }

/*==============================================================================
                          HEADER STYLING - FIXED TO TOP DESKTOP
==============================================================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 3em;
  text-align: right; }
  header ul li {
    list-style-type: none;
    display: inline;
    padding: 0 1em; }

/*==============================================================================
                              ARTICLE STYLES
==============================================================================*/
article.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.47);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.47);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.47); }

article#about {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); }

article#case {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }

article#contact {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); }

/*==============================================================================
                              DOWN ARROW STYLING
==============================================================================*/
a.base {
  font-size: 2em;
  text-decoration: none;
  color: #0d0d0d;
  margin-top: auto;
  animation: arrowFade 1s infinite alternate;
  padding: 1em; }

/*==============================================================================
                            ARTICLE CONTENT
==============================================================================*/
.card {
  width: 60%; }

/*==============================================================================
                              CASE STUDY / PROJECT
==============================================================================*/
article#case .card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column; }

.rowwrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  flex-direction: row; }

.study {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: flex-start;
  align-self: flex-start;
  min-height: 15em;
  width: 25%;
  margin: auto; }

/*==============================================================================
                              CONTACT
==============================================================================*/
#contact ul li {
  text-align: center;
  list-style-type: none;
  padding: 1em; }
  #contact ul li a:link, #contact ul li a:active, #contact ul li a:visited {
    text-decoration: underline; }
  #contact ul li a:hover {
    color: black; }

/*==============================================================================
                              BUTTON GREEN ROUNDED GENERIC
==============================================================================*/
.button {
  background-color: #88B04B;
  background-image: -webkit-linear-gradient(top, #88B04B, #648236);
  background-image: -moz-linear-gradient(top, #88B04B, #648236);
  background-image: -ms-linear-gradient(top, #88B04B, #648236);
  background-image: -o-linear-gradient(top, #88B04B, #648236);
  background-image: linear-gradient(to bottom, #88B04B, #648236);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ebebeb;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  margin-top: auto;
  text-align: center;
  border: 1px solid #648236; }

.button:hover {
  background: #ebebeb;
  border: 1px solid #648236;
  color: #0d0d0d; }

/*==============================================================================
                            FOOTER STYLES
==============================================================================*/
footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  width: 100%;
  color: #ebebeb;
  background-image: linear-gradient(180deg, #1c1c1c 0%, #212121 100%); }
  footer p:first-child {
    letter-spacing: 1em;
    text-transform: uppercase; }
  footer a:active,
  footer a:link,
  footer a:visited {
    color: #ebebeb;
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }

@media only screen and (max-width: 720px) {
  header#home {
    display: none; }
  header {
    top: 0;
    left: 0;
    text-align: left; }
  .base {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    flex-direction: row; }
  a.base {
    padding: 0; }
  .study {
    width: 100%;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column; }
  .rowwrap {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column; }
  .study {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 1.5em; }
    .study p {
      margin-top: -1em;
      font-size: 0.8em; }
  footer p:first-child {
    letter-spacing: 0.3em;
    font-size: 0.8em;
    margin-bottom: -1em;
    text-transform: uppercase; }
  footer p:nth-child(2) {
    padding-top: 0.5em;
    font-size: 0.5em; }
  /* ============================
    PROTOTYPES
============================ */
  .row {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column; }
    .row iframe {
      margin: 2em 0; } }

.auto {
  margin: auto; }

.ps {
  width: 90%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  margin: 3em auto; }

.cm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  margin: auto; }

.study p {
  margin: 1em 0;
  font-size: 1.2em; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  width: 100%; }
  .row iframe {
    margin: 2em;
    margin: auto;
    width: 315px;
    height: auto; }

/* =========================================
        GALLERY IMG HOVER
========================================= */
.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: auto;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center; }

.art {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  margin: 1em;
  width: 200px; }

.art img {
  width: 100%;
  transition: all 0.3s ease-in-out; }

.art:hover img {
  z-index: 1;
  transform: scale(1.5); }
